extends ../layouts/default

block content
	#landing-hero-1
	#landing-about
		.container-fluid
			h1.headline 
				a(href="/blog/post/my-yoga-journey").headline-name Karen Miscall-Bannon
				span Yoga from the inside-out.
			p.landing-about-body1 
				| With yoga trainings for novices to instructors, 
				| I bring 30 years of study, passion and knowledge to every 
				| class and training! Through Embodied-inquiry&#8482;,
				| together we will explore the physical, spiritual, and
				| intellectual growth that you are seeking, so you can 
				| realize your fullest potential.
				br
				br
				block.landing-quote
					| Yoga is like music. The rhythm of the body, the 
					| melody of the mind and the harmony of the soul 
					| create the symphony of life.
				cite - BKS Iyengar
			h2.landing-about-header2 Eager to learn more?
			p.landing-about-body2
				| Explore
				a(href='http://kyr-kmb.ninad.in/')  Know Your Rhythm 
				| — listen to a sample
				a(href='https://soundcloud.com/arnabchowdhury/awakening')  here
				br
				br 
				| Read about 
				a(href='/blog/post/my-yoga-journey') my yoga journey.
				br
				br
				| Learn about
				a(href="http://embodyoga.com/about_embodyoga.html")  Embodyoga®.
				br
				br
				| Learn the
				a(href="http://mindfulyogatherapy.org/wp/")  Mindful Yoga Therapy
				|  approach.
				br
				br
				| Take a look at the 
				a(href="http://prisonyoga.org/")  Prison Yoga Project.
				br
				br
				| For deeper explorations into the anatomical and philosophical
				| aspects of yoga, venture over to 
				a(href='/blog') my blog.
			a(href='/contact').btn.btn-contact 
				| Ready to grow together?
				hr.btn-divider
				span.btn-contact-footer Click here to get in touch
	#landing-workshops
		.container-fluid
			h1.headline Teacher Trainings
			div.workshops-btn-grp
				a(href='/blog/post/200-hour-course').btn.btn-workshops 200 Hour Course
				a(href='/blog/post/300-hour-course').btn.btn-workshops 300 Hour Course
				a(href='/blog/post/class-schedule').btn.btn-workshops View Classes
			h1.headline Workshops
			ul.workshops-table
				li.workshops-table-item
					a(href="http://www.ebbnflowyoga.com/teacher-trainings.html" target="_blank").workshop-title
						| 200-hour Teacher Training
					span.workshop-description Ebb 'N Flow Yoga / Northborough, MA / Continuing (see site)
				li.workshops-table-item
					a(href="http://leapyoga.net/teacher-training/" target="_blank").workshop-title
						| 300-hour Teacher Training
					span.workshop-description Leap Yoga / Folsom, CA / Starting 9/1/2017
				li.workshops-table-item
					a(href="/blog/post/300-hour-course" target="_blank").workshop-title
						| 300-hour Teacher Training
					span.workshop-description Main St Yoga / Placerville, CA / Starting 5/18/2018
				li.workshops-table-item
					a(href="https://yogayubacity.com/course/300-ryt-teacher-training/" target="_blank").workshop-title
						| 300-hour Teacher Training
					span.workshop-description Pure Joy Yoga / Yuba City, CA / Starting 7/14/2018
				li.workshops-table-item
					a(href="http://leapyoga.net/workshops/" target="_blank").workshop-title
						| Refine and Align
					span.workshop-description Leap Yoga / Folsom, CA / 3/23/2018
				li.workshops-table-item
					a(href="/blog/post/know-your-rhythm-kmb-yoga-mount-madonna-retreat").workshop-title
						| KMB Yoga Presents Know Your Rhythm
					span.workshop-description Mount Madonna Retreat Center / 9/6/2018




			h1.headline Classes
			ul.workshops-table
				li.workshops-table-item
					span.workshop-title Morning Flow
					span.workshop-description Main St Yoga / Placerville, CA / Mon, Thurs 6:00am - 7:15am
				li.workshops-table-item
					span.workshop-title Vinyasa Flow
					span.workshop-description Main St Yoga / Placerville, CA / Wed 9:00am - 10:15am
				li.workshops-table-item
					span.workshop-title Easy Flow
					span.workshop-description Main St Yoga / Placerville, CA / Wed 4:30pm - 5:45pm
				li.workshops-table-item
					span.workshop-title Ashtanga Vinyasa
					span.workshop-description Main St Yoga / Placerville, CA / Thurs 4:30pm - 6:00pm
				li.workshops-table-item
					span.workshop-title Vinyasa Basics
					span.workshop-description Leap Yoga / Folsom, CA / Thurs 9:00am - 10:15am
				li.workshops-table-item
					span.workshop-title Ashtanga Vinyasa Improv
					span.workshop-description Leap Yoga / Folsom, CA / Sat 7:45am - 9:15am

			//- !{ workshops.content.full }
			a(href='/blog/classes').btn.btn-contact 
				| Interested in the details?
				hr.btn-divider
				span.btn-contact-footer Take a look at my trainings
	#landing-hero-2
	#landing-audio
		.container-fluid
			h1.headline Audio Downloads Shop
			p.audio-description 
				| Audio classes and GIM/Yoga Nidra explorations
				br
				| Copyright 2018, Karen Miscall-Bannon/Arnab Bishnu Chowdhury
			div.workshops-btn-grp
				a(href='https://transactions.sendowl.com/products/77795634/61DD6382/add_to_cart', rel='nofollow').btn.btn-audio
					| Fluid Patterns GIM
				a(href='https://transactions.sendowl.com/products/77795685/2302AA48/add_to_cart', rel='nofollow').btn.btn-audio
					| Chakras GIM
				a(href='https://transactions.sendowl.com/products/77795715/531CD76A/add_to_cart', rel='nofollow').btn.btn-audio
					| Kosas GIM
				a(href='https://transactions.sendowl.com/products/77795697/62186A09/add_to_cart', rel='nofollow').btn.btn-audio
					| Organs GIM
				a(href='https://transactions.sendowl.com/packages/343932/6B433297/add_to_cart', rel='nofollow').btn.btn-audio
					| Student Pack
				a(href='https://transactions.sendowl.com/packages/347154/8754510A/add_to_cart', rel='nofollow').btn.btn-audio
					| Teacher Pack
				a(href='https://transactions.sendowl.com/products/77795699/ED0FAC01/add_to_cart', rel='nofollow').btn.btn-audio
					| Integrative Morning Flow
				a(href='https://www.dropbox.com/sh/41h0tcc4y8upzrb/AABvOX1T7DsjypGGr2MRqYBqa/%20Sanskrit%20Pose%20Names?dl=1' target="_blank").btn.btn-audio
					| Sanskrit Pose Names
				a(href='/' style='display:none;').btn.btn-audio
