extends ../layouts/default

block content
	#landing-hero-1
	#landing-about
		.container-fluid
			h1.headline 
				a(href="/blog/post/my-yoga-journey").headline-name Karen Miscall-Bannon
				span Yoga from the inside-out.
			p.landing-about-body1 
				| With yoga trainings for novices to instructors, 
				| I bring 30 years of study, passion and knowledge to every 
				| class and training! Through Embodied-inquiry&#8482;,
				| together we will explore the physical, spiritual, and
				| intellectual growth that you are seeking, so you can 
				| realize your fullest potential.
				br
				br
				block.landing-quote
					| Yoga is like music. The rhythm of the body, the 
					| melody of the mind and the harmony of the soul 
					| create the symphony of life.
				cite - BKS Iyengar
			h2.landing-about-header2 Eager to learn more?
			p.landing-about-body2 
				| Read about 
				a(href='/blog/post/my-yoga-journey') my yoga journey.
				br
				br
				| Explore the principles of
				a(href="http://embodyoga.com/about_embodyoga.html")  Embodyoga®.
				br
				br
				| Learn the
				a(href="http://mindfulyogatherapy.org/wp/")  Mindful Yoga Therapy
				|  approach.
				br
				br
				| Take a look at the 
				a(href="http://prisonyoga.org/")  Prison Yoga Project.
				br
				br
				| For deeper explorations into the anatomical and philosophical
				| aspects of yoga, venture over to 
				a(href='/blog') my blog.
			a(href='/contact').btn.btn-contact 
				| Ready to grow together?
				hr.btn-divider
				span.btn-contact-footer Click here to get in touch
	#landing-workshops
		.container-fluid
			h1.headline Teacher Trainings
			div.workshops-btn-grp
				a(href='/blog/post/200-hour-course').btn.btn-workshops 200 Hour Course
				a(href='/blog/post/300-hour-course').btn.btn-workshops 300 Hour Course
				a(href='/blog/post/class-schedule').btn.btn-workshops View Classes
			h1.headline Workshops
			ul.workshops-table
				li.workshops-table-item
					a(href="http://www.mainstyoga.com/teachertraining.php" target="_blank").workshop-title
						| 200-hour Teacher Training
					span.workshop-description Main St Yoga / Placerville, CA / Starting 4/28/17
				li.workshops-table-item
					a(href="http://www.ebbnflowyoga.com/teacher-trainings.html" target="_blank").workshop-title
						| 200-hour Teacher Training
					span.workshop-description Ebb 'N Flow Yoga / Northborough, MA / Starting 5/5/17
				li.workshops-table-item
					a(href="http://leapyoga.net/workshops/" target="_blank").workshop-title
						| Refine and Align
					span.workshop-description Leap Yoga / Folsom, CA / 1/20/2017
				li.workshops-table-item
					span.workshop-title
						| Adaptive Yoga Therapy with Ann Richardson
					span.workshop-description Location TBD / Spring 2017
				li.workshops-table-item
					span.workshop-title
						| Hip-Openers and Backbends
					span.workshop-description Main St Yoga / Placerville, CA / 1/22/2017					
				li.workshops-table-item
					a(href="http://www.yogacenteramherst.com/india/" target="_blank").workshop-title
						| Retreat
					span.workshop-description Auroville, India / 2/8-25/2017
				li.workshops-table-item
					a(href="https://goo.gl/MdcGGg" target="_blank").workshop-title
						| 200-hour Teacher Training
					span.workshop-description Ko Yao Noi, Thailand / October 2017
				li.workshops-table-item
					span.workshop-title
						| 200-hour Teacher Training
					span.workshop-description Estes Park Yoga / Estes Park, CO / 12/2017

			h1.headline Classes
			ul.workshops-table
				li.workshops-table-item
					span.workshop-title Morning Flow
					span.workshop-description Main St Yoga / Placerville, CA / Tues, Wed, Thurs 6:00am - 7:15am
				li.workshops-table-item
					span.workshop-title Vinyasa Flow
					span.workshop-description Main St Yoga / Placerville, CA / Wed 9:00am - 10:15am
				li.workshops-table-item
					span.workshop-title Easy Flow
					span.workshop-description Main St Yoga / Placerville, CA / Wed 4:30pm - 5:45pm
				li.workshops-table-item
					span.workshop-title Ashtanga Vinyasa
					span.workshop-description Main St Yoga / Placerville, CA / Thurs 4:30pm - 6:00pm
				li.workshops-table-item
					span.workshop-title Vinyasa Basics
					span.workshop-description Leap Yoga / Folsom, CA / Thurs 9:00am - 10:15am

			//- !{ workshops.content.full }
			a(href='/blog/classes').btn.btn-contact 
				| Interested in the details?
				hr.btn-divider
				span.btn-contact-footer Take a look at my trainings
	#landing-hero-2
	#landing-audio
		.container-fluid
			h1.headline Embodyoga&reg; Basic Flow Audio Downloads
			p.audio-description 
				| Recorded by Guy DeVito.
				br 
				| Special thanks to: Craig Eastman and Patty Townsend.
				br
				| Copyright 2013, Karen Miscall-Bannon
			div.workshops-btn-grp
				<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="JQ5KJXA53ELRQ">
				<button name='submit' class='btn btn-audio'>Buy now for $10</button>
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
				</form>

				a(href='https://www.dropbox.com/s/kx8dijos6qlvlmu/Karen%20Yoganidra%202%20-May%2012%20-14%20mix%202%20w%20eq.wav?oref=e&n=178087338' target="_blank").btn.btn-audio
					| Yoga Nidra
				a(href='https://www.dropbox.com/sh/41h0tcc4y8upzrb/AABvOX1T7DsjypGGr2MRqYBqa/%20Sanskrit%20Pose%20Names?dl=0' target="_blank").btn.btn-audio
					| Sanskrit Pose Names
				a(href='/' style='display:none;').btn.btn-audio
